<div class="col-md-6 user-container">
  <h2 class="text-center">Trade Form</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <input type="text" formControlName="uuid" placeholder="uuid" name="uuid" class="form-control" id="uuid" hidden>
    </div>

    <div class="hidden">
      <input type="text" formControlName="shareUuid" placeholder="shareUuid" name="shareUuid" class="form-control" id="shareUuid" hidden>
    </div>

    <div class="form-group">
      <label for="action">Action:</label>
      <select formControlName="action" name="action" class="form-control" id="action">
        <option>BUY</option>
        <option>SELL</option>
      </select>
    </div>

    <div class="form-group">
      <label for="symbol">Symbol:</label>
      <select formControlName="symbol" name="symbol" class="form-control" id="symbol">
        <option class="dropdown-select" *ngFor="let stock of stocksArray" [value]="stock.symbol">{{stock.symbol}} / {{stock.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input type="number" formControlName="quantity" placeholder="Quantity" name="quantity" class="form-control" id="quantity">
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">$</span>
        </div>
        <input type="number" formControlName="price" placeholder="price" name="price" class="form-control" id="price" readonly="true">
      </div>
    </div>

    <button class="btn btn-success">Place Trade</button>
  </form>
</div>
